* {
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  font:bold;
}
body {
  margin: 0;
}

.img-wrapper {
  overflow: hidden;
}
.currency{
  display:flex;
}
